{% extends 'base.twig' %}

{% block title %}Dodaj Kategorię{% endblock %}

{% block content %}
    <h1>
       Dodaj Kategorię
    </h1>



    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}


    <form action="#" method="post">
        {{ form_widget(form) }}
       
    </form>

       <a href="{{ url('/categories/userCategories/', {'idUsers': idUsers }) }}" title="Edit">Powrót do listy kategorii</a>

{% endblock %}
