{% extends 'base.twig' %}

{% block title %}Lista kategorii{% endblock %}

{% block content %}
    <h1>
       Lista kategorii
    </h1>
    
{% if is_granted('ROLE_ADMIN') %}

    <p>
        <a href="{{ url('/categories/add/') }}" title="Dodaj nową kategorię">
            Dodaj nową kategorię
        </a>
    </p>{% endif %}

 
  {%  if Categories|length > 0 %}
     

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th colspan="2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for Category in Categories %}
                <tr>
                    <td>{{ Category.nameCategories|e }}</td>
                    <td>
                        <a href="{{ url('/vocabulary/getFromCategory/', {'idCategories': Category.idCategories}) }}" title="view category">Otwórz</a>
                    </td>
            {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('/categories/edit/', {'idCategories': Category.idCategories}) }}" title="Edit category">Edytuj</a>
                    </td>
                    <td>
                        <a href="{{ url('/categories/delete/', {'idCategories': Category.idCategories}) }}" title="Delete category">Usuń</a>
                    </td>
             {% endif %}   
                     <td>
                        <a href="{{ url('/guessWordCat/', {'idCategories': Category.idCategories}) }}" title="test">Test ES->PL</a>
                    </td>
                     <td>
                        <a href="{{ url('/guessWordCatPl/', {'idCategories': Category.idCategories}) }}" title="test">Test PL->ES</a>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Nie znaleziono kategorii.
        </p>
    {% endif %}




{% endblock %}