{% extends 'base.twig' %}

{% block title %}Edytuj kategorię{% endblock %}

{% block content %}
    <h1>
       Edytuj kategorię
    </h1>


    {%  if is_granted('ROLE_ADMIN') or catUser == current %}


        
    <form action="{{ url('/categories/edit/', {'idCategories': category.idCategories}) }}" method="post">
        {{ form_widget(form) }}
    </form>
	

       <a href="{{ url('/categories/userCategories/', {'idUsers': catUser }) }}" title="Edit">Powrót do listy kategorii</a>

	{% else %}

	Brak dostępu.

	{% endif %}

{% endblock %}