{% extends 'base.twig' %}

{% block title %}Wybierz rodzaj testu{% endblock %}

{% block content %}
    <h1>
       Wybierz rodzaj testu
    </h1>
 
  <div>
     <a href="{{ url('guessWord') }}"><img src="{{ app.request.basepath }}/img/spain.png" alt="spain"></a>
     <a href="{{ url('guessWord') }}"><img src="{{ app.request.basepath }}/img/right.png" alt="spain"></a>
     <a href="{{ url('guessWord') }}"><img src="{{ app.request.basepath }}/img/poland.png" alt="spain"></a>

  </div>
	<div>
    <a href="{{ url('/guessWordPl/') }}"><img src="{{ app.request.basepath }}/img/poland.png" alt="spain"></a>
    <a href="{{ url('/guessWordPl/') }}"><img src="{{ app.request.basepath }}/img/right.png" alt="spain"></a>
     <a href="{{ url('/guessWordPl/') }}"><img src="{{ app.request.basepath }}/img/spain.png" alt="spain"></a>
  
  </div>



{% endblock %}