<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ app.request.basepath }}/assets/ico/favicon.ico">

    <title>Hiszpański- nauka słówek</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
{#    <link href="starter-template.css" rel="stylesheet">#}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ app.request.basepath }}/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}


</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HISZPAŃSKI- NAUKA SŁÓWEK</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {#<li class="active"><a href="#">Aktualności</a></li>#}
                <li class="active"> <a href="{{ url('index') }}" title="news">Aktualności</a></li>
                <li> <a href="{{ url('categories') }}" title="Add category">Kategorie słówek</a></li>
                <li><a href="#contact">Kontakt</a></li>
                <li>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('/auth/logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('/auth/login') }}">Login</a>
                    {% endif %}</li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="center-block">
      {#  <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
#}

        {% block content %}{% endblock %}

    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
</body>
</html>