{% extends 'base.twig' %}

{% block title %}Edytuj słowo{% endblock %}

{% block content %}
    <h1>
       Edytuj słowo
    </h1>
   
 {%  if is_granted('ROLE_ADMIN') or vocUser == current %}

    <form action="{{ url('/vocabulary/edit/', {'idVocabulary': vocabulary.idVocabulary}) }}" method="post">
        {{ form_widget(form) }}
    </form>


       <a href="{{ url('/vocabulary/getFromCategory/', {'idCategories': category}) }}" title="Edit">Powrót do kategorii</a>


 {% else %}

 Brak dostępu

    {% endif %}




{% endblock %}