{% extends 'base.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
    <h1>
        Rejestracja
    </h1>

    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}

    <form action="#" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}
